body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.nav-container {
    background-color: #0096c7;

    a {
        color: white;
    }
}

header {
    padding: 1.5em;

    .nav-title {
        color: white;
        font-weight: 500;
        font-size: x-large;
        padding-bottom: 1rem;
    }
}

nav {
    display: none;
}

.active {
    display: flex;
    flex-direction: column;
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        padding-top: 0.75rem;

        a {
            display: block;
            padding: 1rem 0;
        }

        li {
            text-align: center;
        }

        li:hover {
            background-color: #00b4d8;
        }
    }
}

// Responsive Menu
.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

    .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.social {
    display: none;
}

.main-content {
    background: #00b4d8;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.social-mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        width: 180px;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        img {
            width: 75%;
        }
    }
}

@media only screen and (min-width: 600px) {
    .toggle-button {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em;

        .nav-title {
            padding: 0;
        }

        nav {
            display: flex;
        }

        ul {
            display: flex;

            a {
                // display: block;
                padding: 0 1em;
            }
        }
    }

    img {
        width: 70%;
    }

    // .main-content {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;

    //     img {
    //         max-width: 80%;
    //     }
    // }
}

@media only screen and (min-width: 1024px) {
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background-color: #0096c7;
        }
    }

    header {
        padding: 2em 2em 2em 4em;
    }

    .social {
        display: block;
        padding: 2em 4em 2em 0;

        ul {
            display: flex;
            float: right;
            justify-content: space-around;
            width: 70%;

            img {
                width: 30px;
            }
        }
    }

    .main-content {
        height: 90vh;
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .left-content {
            background: #00b4d8;
            padding: 6em 8em 6em 4em;
            text-align: left;
        }

        h1 {
            font-size: 3em;
            line-height: 1.2em;
        }

        .right-content {
            margin-left: -25%;
            margin-top: 25%;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .social-mobile {
        justify-content: flex-start;

        ul {
            padding-left: 0;
        }
    }
}
