body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.nav-container {
  background-color: #0096c7;
}

.nav-container a {
  color: white;
}

header {
  padding: 1.5em;
}

header .nav-title {
  color: white;
  font-weight: 500;
  font-size: x-large;
  padding-bottom: 1rem;
}

nav {
  display: none;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.75rem;
}

.active ul a {
  display: block;
  padding: 1rem 0;
}

.active ul li {
  text-align: center;
}

.active ul li:hover {
  background-color: #00b4d8;
}

.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  padding: 4em;
}

.social {
  display: none;
}

.main-content {
  background: #00b4d8;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.main-content h1 {
  font-size: 3em;
  line-height: 1.2em;
}

.main-content .right-content {
  margin-top: 3rem;
}

.social-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-mobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.social-mobile ul img {
  width: 75%;
}

.highlight {
  padding: 0 5px;
  background: black;
  color: white;
}

.section-title {
  margin: 0;
  font-size: 3em;
  line-height: 1.2em;
  color: #00b4d8;
}

.project-showcase {
  text-align: center;
}

.project-showcase .project-header {
  margin-bottom: 6em;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .project-card {
  -webkit-box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
          box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 4em;
  max-width: 70%;
}

.projects .project-card img {
  width: 100%;
  border-radius: 10px;
}

.projects .project-card .project-title {
  margin: 0;
  font-size: 1.25em;
}

.projects .project-card .project-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.projects .project-card .project-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .project-card .project-access ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 50%;
}

.projects .project-card .project-access ul li {
  margin: 0.25em;
}

.projects .project-card .project-access ul li img {
  width: 28px;
}

.work-experience-description {
  text-align: center;
  background-color: #00b4d8;
  padding-bottom: 10em;
}

.work-experience-description .section-title {
  color: white;
}

.work-experience-description .subtitle {
  color: white;
}

.work-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-experience .section-title {
  padding-top: 0;
}

.work-experience .timeline {
  margin-top: -10em;
}

.work-experience .timeline .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25em;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
          box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
  margin-bottom: 3em;
}

@media only screen and (min-width: 600px) {
  .toggle-button {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5em;
  }
  header .nav-title {
    padding: 0;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header ul a {
    padding: 0 1em;
  }
  img {
    width: 70%;
  }
  .main-content {
    display: -ms-grid;
    display: grid;
    text-align: center;
    padding: 4em;
  }
  .main-content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background-color: #0096c7;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social {
    display: block;
    padding: 2em 4em 2em 0;
  }
  .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 70%;
  }
  .social ul img {
    width: 30px;
  }
  .main-content {
    height: 90vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .main-content .left-content {
    background: #00b4d8;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .main-content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .main-content .right-content {
    margin-left: -20%;
    margin-top: 10%;
    width: 100%;
  }
  .main-content .right-content img {
    width: 100%;
  }
  .social-mobile {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social-mobile ul {
    padding-left: 0;
  }
  .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-container .project-showcase {
    height: 90vh;
  }
  .project-container .project-showcase .section-title {
    margin-bottom: 0;
  }
  .projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1300px;
  }
  .projects .project-card {
    margin: 2em;
  }
}
/*# sourceMappingURL=index.css.map */