$primary-color: #00b4d8;

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.nav-container {
    background-color: #0096c7;

    a {
        color: white;
    }
}

header {
    padding: 1.5em;

    .nav-title {
        color: white;
        font-weight: 500;
        font-size: x-large;
        padding-bottom: 1rem;
    }
}

nav {
    display: none;
}

.active {
    display: flex;
    flex-direction: column;
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        padding-top: 0.75rem;

        a {
            display: block;
            padding: 1rem 0;
        }

        li {
            text-align: center;
        }

        li:hover {
            background-color: $primary-color;
        }
    }
}

// Responsive Menu
.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

    .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    padding: 4em;
}

.social {
    display: none;
}

.main-content {
    background: $primary-color;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;

    h1 {
        font-size: 3em;
        line-height: 1.2em;
    }

    .right-content {
        margin-top: 3rem;
    }
}

.social-mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        width: 180px;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        img {
            width: 75%;
        }
    }
}

.highlight {
    padding: 0 5px;
    background: black;
    color: white;
}

.section-title {
    margin: 0;
    font-size: 3em;
    line-height: 1.2em;
    color: $primary-color;
    // padding-top: 2em;
}

// Projects Page:
.project-showcase {
    text-align: center;
    // padding: 4em;

    .project-header {
        margin-bottom: 6em;
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .project-card {
        box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
        background-color: white;
        border-radius: 10px;
        margin-bottom: 4em;
        max-width: 70%;

        img {
            width: 100%;
            border-radius: 10px;
        }

        .project-title {
            margin: 0;
            font-size: 1.25em;
        }

        .project-body {
            display: flex;
            flex-direction: column;
            padding: 1em;
        }

        .project-access {
            display: flex;

            ul {
                display: flex;
                align-items: center;
                align-self: flex-start;
                justify-content: space-between;
                max-width: 50%;

                li {
                    margin: 0.25em;
                    img {
                        width: 28px;
                    }
                }
            }
        }
    }
}

//Work experience page:

.work-experience-description {
    text-align: center;
    background-color: $primary-color;
    padding-bottom: 10em;

    .section-title {
        color: white;
    }

    .subtitle {
        color: white;
    }
}

.work-experience {
    display: flex;
    justify-content: center;
    align-items: center;

    .section-title {
        padding-top: 0;
    }

    .timeline {
        margin-top: -10em;

        .position {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1.25em;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
            margin-bottom: 3em;

            .position-date {
                color: #777777;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .toggle-button {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em;

        .nav-title {
            padding: 0;
        }

        nav {
            display: flex;
        }

        ul {
            display: flex;

            a {
                padding: 0 1em;
            }
        }
    }

    img {
        width: 70%;
    }

    .main-content {
        display: grid;
        text-align: center;
        padding: 4em;

        h1 {
            font-size: 3em;
            line-height: 1.2em;
        }
    }

    .position-info {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1024px) {
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background-color: #0096c7;
        }
    }

    header {
        padding: 2em 2em 2em 4em;
    }

    .social {
        display: block;
        padding: 2em 4em 2em 0;

        ul {
            display: flex;
            float: right;
            justify-content: space-around;
            width: 70%;

            img {
                width: 30px;
            }
        }
    }

    .main-content {
        height: 90vh;
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .left-content {
            background: $primary-color;
            padding: 6em 8em 6em 4em;
            text-align: left;
        }

        h1 {
            font-size: 3em;
            line-height: 1.2em;
        }

        .right-content {
            margin-left: -20%;
            margin-top: 10%;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .social-mobile {
        justify-content: flex-start;

        ul {
            padding-left: 0;
        }
    }

    .project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .project-showcase {
            height: 90vh;

            .section-title {
                margin-bottom: 0;
            }
        }
    }

    .projects {
        flex-direction: row;
        max-width: 1300px;

        .project-card {
            // max-width: 80%;
            margin: 2em;
        }
    }

    .timeline {
        display: flex;
        justify-content: center;
        // text-align: center;

        .position {
            margin: 2em;
        }

        .position-info {
            display: block;
        }
    }
}
